

 <div id="treeGrid"></div>

<script>


            var source =

            {

                dataType: "json",

                dataFields: [

                    { name: 'Id', type: 'number' },

                    { name: 'ParentObjectId', type: 'number' },

                    { name: 'Name', type: 'string' }
                ],

                hierarchy:

                {

                    keyDataField: { name: 'Id' },

                    parentDataField: { name: 'ParentObjectId' }

                },

                id: 'Id',

                url: 'GetDataJson'

            };

            var dataAdapter = new $.jqx.dataAdapter(source);

            // create Tree Grid

            $("#treeGrid").jqxTreeGrid(

            {

                //width: 850,

                source: dataAdapter,

                sortable: false,
                pageable: false,

                columnsResize: true,

                altRows: true,
                autoRowHeight: false, 

                ready: function()

                {

                    $("#treeGrid").jqxTreeGrid();

                },

                columns: [
                  { text: 'Name', dataField: 'Name', width: 400, cellsAlign: 'left', cellsFormat: 'c2' },
                  //{ text: 'Id', dataField: 'Id', width: 200 },
                 // { text: 'ParentObjectId', dataField: 'ParentObjectId', width: 200 }
                ]

            });

   

    </script>



