@{
    ViewBag.Title = "Index";
}


<br />

<div id="OnLineButton"></div>
<td><div style='margin-left: 20px;' id='WindowTimeSettting'> </div></td>

<h4>
    <center>
        <table style="width: 40%; border: #999999 1px solid; ">
            <tr><td><em><font color="blue">Скорость пресса:</font></em></td> <td>- - -</td></tr>
            <tr><td><em><font color="blue">Начало заливки:</font></em></td> <td><div id="casting_begin"><span></span></div></td></tr>
            <tr><td><em><font color="blue">Окончание заливки:</font></em></td> <td><div id="casting_end"><span></span></div></td></tr>
            <tr><td><em><font color="blue">Последние данные:</font></em></td> <td><div id="data_last"><span></span></div></td></tr>
        </table>
     </center>
</h4>


    <table style="width:100%">
        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MA_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MA_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MA_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MA_ErrPrc"><span></span></div></td></tr>          
                 </table>

               
            </td>
            <td>
                <div id='jqxChart_A' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MB_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MB_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MB_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MB_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_B' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MC_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MC_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MC_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MC_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_C' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MD_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MD_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MD_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MD_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_D' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="ME_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="ME_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="ME_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="ME_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_E' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>


        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MF_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MF_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MF_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MF_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_F' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MN_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MN_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MN_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MN_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_N' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

        <tr>
            <td style="width:30%">

                <table style="width:100%">
                    <tr><td style="width:50%"><em><font color="blue">Подача:</font></em></td> <td><div id="MNuc_Real"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Уставка:</font></em></td> <td><div id="MNuc_Set"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(абс):</font></em></td> <td><div id="MNuc_ErrAbs"><span></span></div></td></tr>
                    <tr><td><em><font color="blue">Ошибка(%):</font></em></td> <td><div id="MNuc_ErrPrc"><span></span></div></td></tr>
                </table>
            </td>
            <td>
                <div id='jqxChart_Nuc' style="width: 100%; height: 400px;"></div>
            </td>
        </tr>

    </table>

    <script type="text/javascript">
        $(document).ready(function () {
            // prepare chart data as an array
            function CreateSource(lastDate, LastCount) {
                var source =
                    {
                        dataType: "json",
                        async: true,
                        dataFields: [
                            { name: 'D' },
                            { name: 'R' },
                            { name: 'S' },
                            { name: 'E' },
                            { name: 'P' },
                            { name: 'L' }
                        ],

                        // url: 'RealTimeViewer/GetDataJson' + "?LastDate=" + lastDate 
                        url: '@Url.Action("GetDataJson", "RealTimeViewer")' + "?LastDate=" + lastDate + "&LastCount="+LastCount
                    };
                return source;
            }
            //+ "&LastCount=" + LastCount

            var dataLocalAdapters = new Map();

            // prepare jqxChart settings
            function CreateSetting(Title, Description, CodeSymbol) {

                dataLocalAdapters.set(CodeSymbol, []);

                var settings = {

                    title: Title,

                    description: Description,

                    enableAnimations: false,

                    enableCrosshairs: false,

                    showLegend: true,

                    padding: { left: 5, top: 5, right: 40, bottom: 5 },

                    titlePadding: { left: 90, top: 0, right: 0, bottom: 10 },

                    source: dataLocalAdapters.get(CodeSymbol),

                    xAxis:

                    {

                        dataField: 'D',
                        type: 'date',
                        baseUnit: 'second',
                        flip: false,
                        gridLines: { visible: true },
                        showToolTips: false,

                        formatFunction: function (value) {
                            return $.jqx.dataFormat.formatdate(value, "HH:mm:ss", 'en-us');

                        }

                    },

                    // colorScheme: 'scheme02',

                    seriesGroups:

                        [

                              {
                                  type: 'line',

                                  valueAxis:
                                    {
                                        visible: true,
                                        position: 'right'
                                    },
                                  series: [{ dataField: 'P', displayText: 'Ошибка (%)', opacity: 0.7, lineWidth: 1, lineColor: 'red', lineColorSelected: 'red', fillColor: 'red' }],

                              },
                            {

                                type: 'line',

                                series: [
                                      { dataField: 'R', displayText: 'Фактическое', opacity: 0.7, lineWidth: 1, lineColor: 'green', lineColorSelected: 'green', fillColor: 'green' },
                                      { dataField: 'S', displayText: 'Установленное', opacity: 1, lineWidth: 2, lineColor: 'yellow', lineColorSelected: 'yellow', fillColor: 'yellow' },
                                ]
                            }
                        ]

                };

                return settings;
            }


            // setup the chart
            var settings =
            {
                window_time: 100,
                lastDate: "none",
                repeat: true,
                repaet_time_ms: 5000

            };


            $('#OnLineButton').jqxSwitchButton({ height: '40px', width: '150px', checked: true, onLabel: 'Онлайн', offLabel: 'Оффлайн' });
            $('#OnLineButton').on('checked', function (event) {
                settings.repeat = false;
            });
            $('#OnLineButton').on('unchecked', function (event) {
                settings.repeat = true;
                UpdateCharts();
            });

            $("#WindowTimeSettting").jqxDropDownList({ source: ["Последние 10 сек", "Последние 100 сек", "Последние 500 сек", "Последние 1000 сек"], selectedIndex: 1, width: 'auto' });
            $('#WindowTimeSettting').on('select', function (event) {
                var index = event.args.index;
                switch (index)
                {
                    case 0:
                        settings.window_time = 10;
                        settings.repaet_time_ms = 1000;
                    break;

                    case 1:
                        settings.window_time = 100;
                        settings.repaet_time_ms = 5000;
                        break;

                    case 2:
                        settings.window_time = 500;
                        settings.repaet_time_ms = 10000;
                        break;

                    case 3:
                        settings.window_time = 1000;
                        settings.repaet_time_ms = 10000;
                        break;    
                }
                settings.lastDate = "none";

                dataLocalAdapters.forEach(function (item, key, mapObj) {
                    dataLocalAdapters.get(key).splice(0, dataLocalAdapters.get(key).length);
                });
                if (!settings.repeat)
                    UpdateCharts();
            });


            $('#jqxChart_A').jqxChart(CreateSetting("Maтериал A", "", "A"));
            $('#jqxChart_B').jqxChart(CreateSetting("Maтериал B", "", "B"));
            $('#jqxChart_C').jqxChart(CreateSetting("Maтериал C", "", "C"));
            $('#jqxChart_D').jqxChart(CreateSetting("Maтериал D", "", "D"));
            $('#jqxChart_E').jqxChart(CreateSetting("Maтериал E", "", "E"));
            $('#jqxChart_F').jqxChart(CreateSetting("Maтериал F", "", "F"));
            $('#jqxChart_N').jqxChart(CreateSetting("Maтериал N", "", "N"));
            $('#jqxChart_Nuc').jqxChart(CreateSetting("Maтериал Nuc", "", "Nuc"));


            function UpdateCharts() {
        
                function Reset(l) {
                    $("#M" + l + "_Real").find('span').remove();
                    $("#M" + l + "_Set").find('span').remove();
                    $("#M" + l + "_ErrAbs").find('span').remove();
                    $("#M" + l + "_ErrPrc").find('span').remove();
                }

                function Set(l, r, s, e, p) {

                    $("#M" + l + "_Real").append("<span>" + r + "</span>");
                    $("#M" + l + "_Set").append("<span>" + s + "</span>");
                    $("#M" + l + "_ErrAbs").append("<span>" + e + "</span>");
                    $("#M" + l + "_ErrPrc").append("<span>" + p + "</span>");
                }

                var start = new Date();
                var source = CreateSource(settings.lastDate, settings.window_time);

                var data = new $.jqx.dataAdapter(source,
                 {
                     loadError: function (jqXHR, status, error) {

                     },
                     loadComplete: function (records) {
                         var _lastDate;
                         for (var i = 0; i < data.getrecords().length; i++) {
                             var last = data.getrecords()[i];
                             var _date = new Date(Date.parse(last.D));

                             if (_lastDate == null) _lastDate = _date;
                             else if (_lastDate < _date) _lastDate = _date;

                             dataLocalAdapters.get(last.L).push({ D: _date, S: last.S, R: last.R, E: last.E, P: last.P });
                         }

                         if (_lastDate != null) {
                             settings.lastDate = $.jqx.dataFormat.formatdate(_lastDate, "dd-MM-yyyy HH:mm:ss", 'en-us');
                         }

                         dataLocalAdapters.forEach(function (item, key, mapObj) {

                             if (dataLocalAdapters.get(key).length > settings.window_time) {
                                 dataLocalAdapters.get(key).splice(0, dataLocalAdapters.get(key).length - settings.window_time);
                             }

                              $('#jqxChart_' + key).jqxChart('update');
                             
                            

                             $('#jqxChart_' + key).jqxChart('getInstance').
                                 description = "L: " + settings.lastDate +
                                 ",Update count = " + data.getrecords().length +
                                 ",Eclape time = " + (new Date() - start) + " ms";

                             Reset(key);
                             if (dataLocalAdapters.get(key).length > 0) {
                                 var _lastvalue = dataLocalAdapters.get(key)[dataLocalAdapters.get(key).length - 1];
                                 Set(key, _lastvalue.R, _lastvalue.S, _lastvalue.E, _lastvalue.P);
                             }

                         });


                         $("#casting_begin").find('span').remove();
                         $("#casting_end").find('span').remove();
                         $("#data_last").find('span').remove();
                         
                         $.ajax({
                             url: '@Url.Action("GetLastDataInfo", "RealTimeViewer")',
                             async: true,
                             cache: false,
                             success: function (data) {
                                 if (!data.isEmptyCastingTable) {
                                     $("#casting_begin").append("<span>" + data.castingStart + "</span>");
                                     $("#casting_end").append("<span>" + data.castingEnd + "</span>");
                                     $("#data_last").append("<span>" + data.lastRecordDate + "</span>");
                                 }
                                
                             }
                         });
                        

                         if (settings.repeat)
                         {
                             setTimeout(function () {
                                 UpdateCharts();
                             }, settings.repaet_time_ms);
                         }

                     }

                 });

                data.dataBind();
            }

            UpdateCharts();

        });
    </script>




