
@{
    ViewBag.Title = "Index";
}

<center><h3>@Html.ActionLink("Графики управления подачей материала", "MatOnlineIndex")</h3></center>
<center><h3>@Html.ActionLink("Графики управления подачей пресса", "DBVelocityOnlineIndex")</h3></center>


